<p id="notice"><%= notice %></p>

<h3><strong>Author: </strong><%= link_to "#{User.find(@user_id).name}",userpost_wows_path(@user_id)%></h3>
<!--<% if Follow.find_by(:user_id=>@user_id,:sessionuser=>current_user.id)%>
   <h4><%= link_to 'UnFollow',{:controller=>'wows',:action=>'unfollow',:id=>@user_id},:method=>:post %></h3>
<%else%>
   <h4><%= link_to 'Follow',{:controller=>'wows',:action=>'follow',:id=>@user_id},:method=>:post %></h3>
<%end%>-->

<% if current_user.id != @user_id.to_i%>
    <% if Follow.find_by(:user_id=>@user_id,:sessionuser=>current_user.id)%>
        <%= link_to 'unfollow', unfollow_wows_path(@user_id) %>
    <%else%>
        <%= link_to 'follow', follow_wows_path(@user_id) %>
    <%end%>
<%end%>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wows.each do |wow| %>
      <tr>
        <td><%= wow.description %></td>
        <% if wow.picture.present? %>
           <td><%= image_tag(wow.picture.url,size:'210') %></td>
        <%end%>
        <td><%= link_to 'Show', wow %></td>
      </tr>
    <% end %>
  </tbody>
</table>
